<div style="height: 100px;"></div>
<div style="display: flex; justify-content: center; align-items: center; font-size: xx-large;">
    <p>
        IT Klausimyno redagavimas
    </p>
</div>
<div style="font-size: medium">
    <p>Šiame lange galite patogiai atlikti visas CRUD funkcijas klausimams
    </p>
</div>
<div class="marginas" *ngFor="let kategorija of kategorijos; index as i;">
    <h2> {{kategorija.kategorija}} </h2>
    <mat-card>
        <div class="marginas">

            <mat-card *ngFor="let klausimas of kategorija.klausimai; index as in;">

                <div
                    style="height: 100%; width: 100%; display: flex; justify-content: space-between; align-items: center;">

                    <div style="width: 50%; height: 100%;">
                        <span>{{klausimas.klausimas}}</span>
                    </div>
                    <div>
                        <button style="border-style: solid; border-radius: 15px; width: 200px" mat-raised-button class="marginas">Sukurti naują klausimą</button>
                    </div>
                    <div style="width: 20%;">
                        <button mat-raised-button style="border-style: solid; border-radius: 15px; width: 150px"
                            mat-raised-button class="marginas">Redaguoti</button>
                    </div>

                    <div>
                        <button (click)="istrintiklausima(klausimas.klausimoid)" style="border-style: solid; border-radius: 15px; width: 150px" mat-raised-button class="marginas">Ištrinti</button>
                    </div>
                </div>

            </mat-card>
            <mat-divider></mat-divider>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
</div>