<div style="width:100%; height: 100%; background-color: rgb(38, 38, 38); display: flex; justify-content: center; align-items: center;">
    <div > <p style="color:white; font-size: xx-large; padding-right: 40px" >
     Prisijungimas 
 </p>
 </div>
     <div class="example-container" style="background-color: white; padding: 20px; border-style: solid; border-radius: 15px">
         <mat-form-field appearance="fill" style="padding-right: 40px;">
           <mat-label>Įrašyti El.paštą</mat-label>
           <input matInput placeholder="pat@example.com" [(ngModel)]="email.email">
           <mat-error *ngIf="email.invalid()">erroras</mat-error>
         </mat-form-field>
         <mat-form-field appearance="fill" style="padding-right: 40px;">
             <mat-label>Įrašyti slaptažodį</mat-label>
             <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="slaptazodis.slaptazodis">
             <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
             <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
             </button>
             
           </mat-form-field>
           <button mat-button color="primary" (click)="prisijungtiadmin()" style="color: black;border-style: solid; border-radius: 15px; width: 150px">Prisijungti</button>
       </div>
     </div>