<div style="width:100%; height: 100%; background-color: rgb(38, 38, 38); display: flex; justify-content: center; align-items: center;">
    <div>
        <p style="color:white; font-size: xx-large;" >
        Administratoriaus aplinka  
    </p>
    <p style="color:white; font-size: medium;">
        Sveiki, šioje Administratoriaus svetainėje galėsite greitai ir patogiai atlikti visas "CRUD" funkcijas.
    </p>
    <div style="display: flex; justify-content: space-between;">   
    <button style="border-style: solid; border-radius: 15px; width: 250px; height: 50px;" [routerLink]="['/vartotojai']" mat-raised-button class="marginas">Įmonių ir Vartotojų sąrašas</button>
 
    <button style="border-style: solid; border-radius: 15px; width: 250px; height: 50px;" [routerLink]="['/admin_klausimai']" mat-raised-button class="marginas">Klausimų sąrašas</button>
</div>     
</div>
    </div>