<div class="example-button-row">
    <button style="border-style: solid; border-radius: 15px; width: 150px" [routerLink]="['/']" mat-raised-button class="marginas">Pradžia</button>
  <button style="border-style: solid; border-radius: 15px; width: 150px" [routerLink]="['/klausimynas']" mat-raised-button class="marginas">Klausimynas</button>
  <button style="border-style: solid; border-radius: 15px; width: 150px" [routerLink]="['/kontaktai']" mat-raised-button class="marginas">Kontaktai</button>
</div>