<div mat-dialog-content>
    <p>Pridėti naują vartotoją</p>
      <mat-form-field appearance="fill">
        <mat-label>Imonės</mat-label>
        <mat-select [(value)]="vartatprideti.imonesid">
          <mat-option *ngFor="let imone of imones; let i = index" [value]="imone.imonesid">
            {{imone.imonespavadinimas}}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="neraimones" style="color: red;">Pridėkite vartotoją prie įmonės</mat-hint>
      </mat-form-field>
    <mat-form-field>
      <mat-label>El.paštas</mat-label>
      <input minlength="5" maxlength="60" matInput [(ngModel)]="vartatprideti.pastas">
      <mat-hint *ngIf="!elpastasTeisingas" style="color: red;">Įveskite teisingą el. pašto adresą</mat-hint>
      <mat-error>Paštas turi sudaryti nuo 5 iki 60 simbolių</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Slaptažodis</mat-label>
      <input minlength="5" maxlength="60" matInput [(ngModel)]="vartatprideti.slaptazodis">
      <mat-error>Slaptažodis turi sudaryti nuo 5 iki 60 simbolių</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vardas</mat-label>
      <input  minlength="2" maxlength="30" matInput [(ngModel)]="vartatprideti.vardas">
      <mat-error>Vardas turi sudaryti nuo 2 iki 30 simbolių</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pareigos</mat-label>
      <input minlength="2" maxlength="30" matInput [(ngModel)]="vartatprideti.pareigos">
      <mat-error>Pareigos turi sudaryti nuo 2 iki 30 simbolių</mat-error>
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="vartatprideti.statusas">Aktyvus</mat-slide-toggle>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Atšaukti</button>
    <button mat-button (click)="prideti()" cdkFocusInitial>Pridėti</button>
  </div>