<div style="height: 100px;"></div>
<div style="display: flex; justify-content: center; align-items: center; font-size: xx-large;">
    <p>
        Vartotojų sąrašas
    </p>
    <button (click)="iskvietipopupnew(vartotojas)" style="border-style: solid; border-radius: 15px; width: 200px" mat-raised-button class="marginas">Sukurti naują vartotoja</button>
</div>
<div class="marginas" *ngFor="let imone of imonespavadinimas; index as i;">
    <h2> {{imone.imonespavadinimas}} </h2>
    <mat-card>
        <div class="marginas">

            <mat-card *ngFor="let vartotojas of imone.vartotojai; index as in;">

                <div style="height: 100%; width: 100%; display: flex; justify-content: space-between; align-items: center;">

                    <div style="width: 50%; height: 100%;">
                            <span>{{vartotojas.pastas}}</span>
                            <button mat-raised-button (click)="iskvietipopup(vartotojas)" style="border-style: solid; border-radius: 15px; width: 150px" mat-raised-button class="marginas">Redaguoti</button>
                            <button (click)="istrinti(vartotojas.id)" style="border-style: solid; border-radius: 15px; width: 150px" mat-raised-button class="marginas">Ištrinti</button>
                    </div>

                </div>

            </mat-card>
            <mat-divider></mat-divider>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
</div>
